.layout {
    display: grid;
    grid-template-columns: 1fr 8fr;
}

.sidebar {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    height: 98vh;
}

.logoutButton {
    margin-top: auto;
}

.gameContainer {
    position: relative;
}

.backgroundImage {
    position: relative;
    height: 900px;
    width: auto;
    border: 2px solid rgb(106, 106, 204);
}

.circle {
    position: absolute;
    border-radius: 50%;
    border: 2px solid blue;
}