.layout {
    display: grid;
    grid-template-columns: 2fr 8fr;
}

body {
    background-color: #c8e6c9;
}

.sidebar {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    padding-left: 1.5rem;
    padding-right: 1rem;
}

.logoutButton {
    margin-top: auto;
}

.gameContainer {
    position: relative;
}

.backgroundImage {
    position: relative;
    height: 900px;
    width: auto;
    border: 2px solid rgb(106, 106, 204);
}

.circle {
    position: absolute;
    border-radius: 50%;
    border: 2px solid blue;
}

.stopwatch {
    color: #fafafa;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 7px;

}